/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3592b270-ofdr5x7a version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 1320px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .item-content:not(.blocks_layout)  {
		
						background-color: rgb(27, 73, 190);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-divider  {
		
						width: 100%;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 1;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a.master.item-box   {
		
						background-color: rgb(237, 237, 237);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-title  ,  .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 28rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						font-family: Arimo;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-item-links span  ,  .style-3592b270-akddbsak .style-3592b270-ofdr5x7a #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						padding-right: 20px;
						
						margin-top: 5px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 660px;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-link-img  {
		
						width: 24px;
						
						margin: 16px;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-item-links span:hover  ,  .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(126, 126, 126);
						
						letter-spacing: 0.05em;
						
						max-width: 600px;
						
						margin-top: 30px;
						
						margin-bottom: 20px;
						
						font-family: HelveNueThinNormal;
							
		}
	
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-social-holder  {
		
						margin-bottom: 15px;
						
						margin-top: 10px;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .middle_layout .helper-div  ,  .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-subtitle  ,  .style-3592b270-akddbsak .style-3592b270-ofdr5x7a .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.1em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-3592b270-ofdr5x7a #vbid-3592b270-38pkwfmk .preview-content-holder{
				
							text-align : center;
					
				}


 .style-3592b270-ofdr5x7a #vbid-3592b270-cccmmu7s.inner-pic{
				
							background-size : 37%;
					
				}











 .style-3592b270-ofdr5x7a #vbid-3592b270-38pkwfmk .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3bddec0b-6rkb49z5 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 600px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-divider  {
		
						border-bottom-width: 4px;
						
						border-color: rgb(0, 0, 0);
						
						width: 10%;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .inner-pic  {
		
						opacity: 0.21;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-subtitle-holder  {
		
						max-width: 1050px;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .background-div  {
			
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-title  ,  .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 38rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-item-links span  ,  .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 18px;
						
						padding-top: 10px;
						
						border-width: 2px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-element.icon-source  {
		
						width: 60px;
						
						margin-bottom: 15px;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-item-links span:before  ,  .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-item-links span:hover  ,  .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .inner-pic-holder  {
		
						background-color: rgb(223, 0, 255);
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .middle_layout .helper-div  ,  .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-subtitle  ,  .style-3592b270-akddbsak .style-3bddec0b-6rkb49z5 .preview-body h2  { 
						line-height: 1.5em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-3bddec0b-6rkb49z5 #vbid-3bddec0b-3icuax6a .preview-content-holder{
				
							text-align : left;
					
				}


 .style-3bddec0b-6rkb49z5 #vbid-3bddec0b-n5vp36ja.inner-pic{
				
							background-position : 50.3135% 29.5905%;
					
				} .style-3bddec0b-6rkb49z5 #vbid-3bddec0b-ts6zoefr.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-3bddec0b-6rkb49z5 #vbid-3bddec0b-iv7wer28.inner-pic{
				
							background-position : 49.2685470581055% 69.2805786132813%;
					
				}











 .style-3bddec0b-6rkb49z5 #vbid-3bddec0b-3icuax6a .preview-content-wrapper{
				
							text-align : left;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3592b270-ubat0wmj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-item-links span:hover  ,  .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						margin-right: 10px;
						
						margin-top: 15px;
						
						margin-left: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-item-links span  ,  .style-3592b270-akddbsak .style-3592b270-ubat0wmj #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						font-weight: bold;
						
						color: rgb(159, 159, 159);
						
						padding-bottom: 5px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: -0.0em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 5px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-title  ,  .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-body h1  { font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arimo;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-item-links span:before  ,  .style-3592b270-akddbsak .style-3592b270-ubat0wmj .effect-tester  { 
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-element.icon-source  {
		
						width: 40px;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-subtitle  ,  .style-3592b270-akddbsak .style-3592b270-ubat0wmj .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3592b270-akddbsak version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-3592b270-akddbsak .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-3592b270-akddbsak .Subtitle  ,  .master .style-3592b270-akddbsak .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-3592b270-akddbsak .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-3592b270-akddbsak .Title  ,  .master .style-3592b270-akddbsak .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-3592b270-akddbsak .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-3592b270-akddbsak .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	
	 .master .style-3592b270-akddbsak .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-3592b270-akddbsak .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-3592b270-akddbsak .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .master .style-3592b270-akddbsak .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-3592b270-akddbsak .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-3592b270-akddbsak.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Arimo;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}